header{
    width: 100%;
    .header-top{
        width:100%;
        height: 34px;
        background: #e5e5e5;
        padding: 11px;
        position: relative;
        &-content{
            height: 12px;
            width: 100%;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            font-family: Gotham,Verdana,sans-serif;
        }
        &-cancel{
            position: absolute;
            right: 11px;
            top: 11px;
            width: 22px;
            height: 12px;
            a{
                font-size: 12px !important;
                color: #848484;
                display: block;
                margin-left: 10px;
            }
        }
    }
    .header-bottom{
        height: 100px;
        width: 100%;
        position: relative;
        &-box{
            height: 100%;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            margin: 0 auto;
            &-logo{
                height: 77px;
                width: 120px;
                margin: 0px 60px 0px 30px;
                text-align:center;
                a{
                    width: 77px;
                    height: 77px;
                    img{
                        width: 77px;
                        height: 77px;
                    }
                }
                
            }
            &-nav{
                flex: 1;
                font-family: Gotham,Verdana,sans-serif;
                .header-search{
                    float: right;
                    margin-right: 40px;
                    height: 40px;
                    display: flex;
                    padding-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    .test{
                        position: relative;
                        margin-right: 15px;
                        .search-box{
                            width: 300px;
                            font-family: Gotham,Verdana,sans-serif;
                            background: #eee;
                            border-radius: 30px;
                            display: flex;
                            justify-content: space-between;
                            height: 25px;
                            input{
                                flex: 1;
                                height: 22px;
                                margin: 1px 4px 1px 10px;
                                border: none;
                                font: 400 13.3333px Arial;
                                color: #757575;
                                background-color: #eee;
                                outline: none;
                                padding-left: 10px;
                            }
                            button{
                                margin: 0 10px;
                                font-size: 20px !important;
                                height: 25px;
                                border: none;
                                padding: 0;
                                color: #c2c2c2;
                                background:#eee;
                                cursor: pointer;
                            }
                            .uplist{
                                width: 100%;
                                background: #eee;
                                position: absolute;
                                top:26px;
                                z-index: 100;
                                display: none;
                                font-weight: 400;
                                
                                p{
                                    height: 20px;
                                    margin: 10px 20px;
                                    color: #6e6e6e;
                                    font-size: 18px;
                                }
                                .quicklink{
                                    li{
                                        color: #757575;
                                        font-size: 14px;
                                        padding: 10px 20px;
                                        a{
                                            color: #757575;
                                            font-size: 14px;
                                            display: block;
                                            height: 25px;
                                            // margin: 10px 20px;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                        }
                                        a:hover{
                                            color: #fff;
                                            background: #75656579;
                                        }
                                    }
                                }
                                .relate{
                                    @extend .quicklink;
                                    li:hover{
                                        color: #fff;
                                        background: #75656579;
                                    }
                                }
                            }
                        }
                    }
                    .log-reg{
                        height: 25px;
                        display: flex;
                        position: relative;
                        .join{
                            display: block;
                            font-size: 14px;
                            line-height: 25px;
                            text-align: center;
                            color: #fff;
                            margin-right: 10px;
                        }
                        .userList{
                            display: none;
                            position: absolute;
                            left: -10px;
                            top: 30px;
                            li{
                                height: 25px;
                                width: 60px;
                                line-height: 25px;
                                font-size: 14px;
                                color: #fff;
                                margin-bottom: 5px;
                                text-align: center;
                                a{
                                    color: #fff;
                                }
                            }
                        }
                        a:hover{
                            color: #cdcdcd;
                        }
                    }
                    .cart{
                        color: rgb(177, 82, 82);
                        line-height: 13px;
                        height: 25px;
                        display: block;
                        margin-left: 10px;
                        padding: 5px 0;
                        font-size: 20px !important;
                    }
                    .store{
                        color: #fff;
                        line-height: 25px;
                        display: block;
                        margin-left: 10px;
                    }
                    a:hover{
                        color: #cdcdcd;
                    }
                }
                .header-navbar{
                    width: 100%;
                    height: 60px;
                    &-items{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        .item-title{
                            font-size: 12px;
                            color: #fff;
                            display: block;
                            padding: 22px 20px;
                        }
                        .item-title:hover{
                            color: #cdcdcd79;
                        }
                        .item-list{
                            position: absolute;
                            left: 0;
                            top: 100px;
                            z-index: 6;
                            width: 100%;
                            min-height: 225px;
                            padding-bottom: 20px;
                            color: #fff;
                            background-color: #191919;
                            display: none;
                            ul{
                                max-width: 1280px;
                                margin: 0 auto;
                                padding: 30px 0 20px 190px;
                                display: flex;
                                li{
                                    font-size: 12px;
                                    border-left: 1px solid #404040;
                                    width: 33%;
                                    padding: 0 15px;
                                    display: flex;
                                    flex-direction: column;
                                    a{
                                        color: #fff;
                                        display: block;
                                        margin-bottom: 30px;
                                    }
                                    a:hover{
                                        color: #cdcdcd79;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}